.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background: url(/Users/JOffi/projects/se_project_coffeeshop/images/background_header.svg),
    no-repeat, center, #fff;
  background-size: cover;
  padding: 30px 80px 40px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__title {
  display: flex;
  max-width: 729px;
  flex-wrap: wrap;
  margin: 183px 0 0;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  z-index: 1;
}

.header__span-accent {
  font-family: "Noto Serif", Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  display: flex;
  flex-wrap: wrap;
  max-width: 683px;
  margin: 24px 0;
  font-family: "Noto Serif", Times, serif;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  display: flex;
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  color: #838383;
}

.header__paragraph {
  margin: 0;
}
